@charset "utf-8";
body{background:#F7FBFE;}

header{width:100%; position: fixed; top:0; left:0;  height:5rem;  padding:1rem 1.9rem;z-index: 999999; background:rgba(255,255,255,0.8); border-bottom:1px solid rgba(22,67,106,0.5);}
header>div{max-width: 1920px; margin: 0 auto;  line-height: 1;}
header a{color:#36393E;}
header a:hover{color:#FF4500;}

header div h1, header div nav, header div ul{display:inline-block;}
header div h1{float:left; width:7rem; padding: 0 0 0 1rem;}
header div > nav{float:left;}
header div > ul{float:right;}

header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li:hover .navDropdown
,header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

#afterLogin .login{padding:0 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
#afterLogin .login img{width:4rem;}

main{}
main section{}
main section h1{}

.showingoff{width:100%; margin:0 auto; max-width:79.1rem; padding:10rem 0;}
.showingoff>div{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:26.5rem; margin:1.5rem; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
.showingoff>div>a{display:block; cursor:pointer; width:100%; height:100%;}
.showingoff>div>a>div{width:23rem; display:inline-block; box-sizing:border-box;}
.showingoff>div>div:first-child{height:14%;}
.showingoff>div>div:nth-child(2){height:56%;}

.showingoff .containerTop .location p,
.showingoff .containerImg .slideBtn img{width:100%; display:inline;}

.showingoff .containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.showingoff .containerTop>div{display:inline-block;}
.showingoff .containerTop .campersIcon{float:left; margin-top:}
.showingoff .containerTop .campersIcon img{width:5rem;}
.showingoff .containerTop .location{float:right; line-height:3; }
.showingoff .containerTop .location img{width:1rem;}

.showingoff .containerImg{position:relative; width:100%;}
.showingoff .containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.showingoff .containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.showingoff .containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.showingoff .containerImg .slideBtn{position:absolute; width:100%; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.showingoff .containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.showingoff .containerImg .slideBtn img:first-child{float:left;}
.showingoff .containerImg .slideBtn img:nth-child(2){float:right;}
.showingoff .containerImg .likeOnimg{position:absolute; bottom:4%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.showingoff .containerImg .likeOnimg svg{width:1.5rem; float:right;}

.showingoff .containerBtm{padding:0.8rem 0.625rem 1rem 0.625rem;}
.showingoff .containerBtm>div:first-child{margin-bottom:0.8rem;}
.showingoff .containerBtm .facilities,
.showingoff .containerBtm .facilities img,
.showingoff .containerBtm h3,
.showingoff .containerBtm .reviewStar,
.showingoff .containerBtm p{display: inline-block;}
.showingoff .containerBtm .facilities{float:left;}
.showingoff .containerBtm .facilities img{width:2.5rem;}
.showingoff .containerBtm h3{float:right;}
.showingoff .containerBtm h3 img{fill:#FF4E00;}
.showingoff .containerBtm .reviewStar{float:left;}
.showingoff .containerBtm .reviewStar img{width:1.125rem;}
.showingoff .containerBtm p{float:right;}

.selling{width:100%; margin:0 auto; max-width:79.1rem; padding:10rem 0;}
.selling>div{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:28rem; margin:1.5rem;}
.selling>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
.selling>div>div:first-child{height:14%;}
.selling>div>div:nth-child(2){height:53%;}

.selling .containerTop .location p,
.selling .containerImg .slideBtn img{width:100%; display:inline;}

.selling .containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.selling .containerTop>div{display:inline-block;}
.selling .containerTop .campersIcon{float:left; margin-top:}
.selling .containerTop .campersIcon img{width:5rem;}
.selling .containerTop .location{float:right; line-height:3; }
.selling .containerTop .location img{width:1rem;}

.selling .containerImg{position:relative; width:100%;}
.selling .containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.selling .containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.selling .containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.selling .containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.selling .containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.selling .containerImg .slideBtn img:first-child{float:left;}
.selling .containerImg .slideBtn img:nth-child(2){float:right;}
.selling .containerImg .likeOnimg{position:absolute; bottom:4%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.selling .containerImg .likeOnimg svg{width:1.5rem; float:right;}

.selling .containerBtm{padding:0.2rem 0.625rem 1rem 0.625rem;}

.selling .containerBtm div:nth-child(2) .facilities,
.selling .containerBtm div:nth-child(2) .facilities img,
.selling .containerBtm div:nth-child(2) h3,
.selling .containerBtm div:nth-child(3) .reviewStar,
.selling .containerBtm div:nth-child(3) p{display: inline-block;}

.selling .containerBtm div:first-child p,
.selling .containerBtm div:first-child h3{float:left;}
.selling .containerBtm div:first-child h3{font-size:1.25rem; padding:0 0.4rem;}
.selling .containerBtm div:first-child p{line-height: 180%;}

.selling .containerBtm div:nth-child(2) {padding:0.625rem 0;}
.selling .containerBtm div:nth-child(2) .facilities{float:left;}
.selling .containerBtm div:nth-child(2) .facilities img{width:2.5rem;}
.selling .containerBtm div:nth-child(2) h3{float:right;}
.selling .containerBtm div:nth-child(2) h3 img{fill:#FF4E00;}

.selling .containerBtm div:nth-child(3){}
.selling .containerBtm div:nth-child(3) .reviewStar{float:left;}
.selling .containerBtm div:nth-child(3) .reviewStar img{width:1.125rem;}
.selling .containerBtm div:nth-child(3) p{float:right;}

.diycamper{width:100%; max-width:79.1rem;  margin: 0 auto; padding:10rem 0;}
.diycamper>div{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:29rem; margin:1.5rem;}
.diycamper>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
.diycamper>div>div:first-child{height:12%;}
.diycamper>div>div:nth-child(2){height:48%;}
.diycamper>div>div:nth-child(3){height:40%;}

.diycamper .containerTop h3,
.diycamper.containerTop p,
.diycamper .containerImg .slideBtn img{width:100%; display:inline;}

.diycamper .containerTop{padding:0.75rem 0.65rem;}
.diycamper .containerTop h3 img{width:2rem;}

.diycamper .containerImg{position:relative; width:100%;}
.diycamper .containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.diycamper .containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.diycamper .containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.diycamper .containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.diycamper .containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.diycamper .containerImg .slideBtn img:first-child{float:left;}
.diycamper .containerImg .slideBtn img:nth-child(2){float:right;}

.diycamper .containerBtm{width:100%; padding: 1rem 0 0 0;}
.diycamper .containerBtm img{width: inherit;}
.diycamper .containerBtm h3{font-size:1.5rem; padding-top:1rem; font-weight:bold; color:#000; text-align: center;}
.diycamper .containerBtm > div{margin:0 auto; width:21.7rem; padding:1rem; box-sizing: border-box;}

.diycamper .containerBtm div div,
.diycamper .containerBtm div p{display:inline-block;}
.diycamper .location,
.diycamper .like{float:left;}
.diycamper .date,
.diycamper .icons{float:right;}
.diycamper .like{line-height: 1.5;}
.diycamper .date{line-height:2;}
.diycamper .icons a:nth-child(2){padding:0 0 0 0.5rem;}

.diycamper .containerBtm .br{margin:0 auto; width:21rem; height:1px; background:#16436A;}

footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background: #16436A;}
footer > div{display:inline-block;}
.fLogo {width:150px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: calc(100% - 300px); float:right; margin-top: -5rem;}
.fCont li{float:right; display:block;;
  font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont li span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont li a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1554px) {
  footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background: #16436A;}
  footer > div{display:inline-block;}
  .fLogo {width:100px; float:left;}
  .fLogo a{width: 100%;}
  .fLogo a img{width: 100%;}
  .fCont{width: calc(100% - 300px); float:right; margin-top: -5rem;}
  .fCont li{font-size: 0.7em;}
  .fCont li span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
  .fCont li a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}
}
/* Medium Device: 1200px */
@media only screen and (min-width: 991px) and (max-width: 1199px) {

}
/* Tablet Device: 768px */
@media only screen and (min-width: 768px) and (max-width: 990px) {

}
/* Large Mobile: 480px */
@media only screen and (max-width: 767px) {

}
/* Small Mobile: 320px */
@media only screen and (max-width: 479px) {

}
