@charset "utf-8";
body{background:#F7FBFE;}

header{width:100%; max-width: 1920px; position: absolute; top:0; left:50%; transform: translateX(-50%); height:5rem; padding:1rem 1.9rem; line-height: 1; z-index: 999999;}
header a{color:#36393E;}
header a:hover{color:#FF4500;}

header h1, header nav, header ul{display:inline-block;}
header h1{float:left; width:7rem; padding: 0 0 0 1rem;}
header >nav{float:left;}
header > ul{float:right;}

header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li:hover .navDropdown
,header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

.login{padding:0 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
.login img{width:4rem;}

.visual ul li:first-child,
.visual ul li:nth-child(9){border:1px solid #16436A;}
.visual ul li:first-child svg .cls-1,
.visual ul li:nth-child(9) svg .cls-1{fill:none;stroke:#16436a;stroke-linejoin:round;}
.visual ul li:nth-child(2),
.visual ul li:nth-child(8){border:1px solid #D7BE7B;}
.visual ul li:nth-child(2) svg .cls-1{fill:none;stroke:#d7be7b; stroke-miterlimit:10;}
.visual ul li:nth-child(8) svg .cls-1,
.visual ul li:nth-child(8) svg .cls-2,
.visual ul li:nth-child(8) svg .cls-3{fill:none;stroke:#d7be7b;stroke-miterlimit:10;}
.visual ul li:nth-child(8) svg .cls-2{clip-path:url(#clip-path);}
.visual ul li:nth-child(8) svg .cls-3{clip-path:url(#clip-path-2);}
.visual ul li:nth-child(8) svg .cls-4{clip-path:url(#clip-path-3);}
.visual ul li:nth-child(3),
.visual ul li:nth-child(7){border:1px solid #A9E1BA;}
.visual ul li:nth-child(3) svg .cls-1{fill:none;stroke:#a9e1ba;stroke-miterlimit:10;}
.visual ul li:nth-child(7) svg .cls-1{fill:none;stroke:#a9e1ba;stroke-linejoin:round;}
.visual ul li:nth-child(4),
.visual ul li:nth-child(6){border:1px solid #95C04C;}
.visual ul li:nth-child(4) svg .cls-1{fill:none;stroke:#95c04c;stroke-miterlimit:10;}
.visual ul li:nth-child(6) svg .cls-1,
.visual ul li:nth-child(6) svg .cls-2{fill:none;stroke:#95c04c;}
.visual ul li:nth-child(6) svg .cls-1{stroke-miterlimit:10;}
.visual ul li:nth-child(6) svg .cls-2{stroke-linecap:round;stroke-linejoin:round;}
.visual ul li:nth-child(5){border:7px solid #FF4500;}
.visual ul li:nth-child(5) svg .cls-1{fill:none;}
.visual ul li:nth-child(5) svg .cls-2{fill:#ff4500;}
.visual ul li:nth-child(5) svg .cls-3{fill:#fff0cf;}
.visual ul li:nth-child(5) svg .cls-3,
.visual ul li:nth-child(5) svg .cls-7,
.visual ul li:nth-child(5) svg .cls-8{stroke:#4d4d4d;stroke-miterlimit:10;stroke-width:3px;}
.visual ul li:nth-child(5) svg .cls-4{clip-path:url(#clip-path);}
.visual ul li:nth-child(5) svg .cls-5{fill:#ff4e00;}
.visual ul li:nth-child(5) svg .cls-6{fill:#4d4d4d;}
.visual ul li:nth-child(5) svg .cls-7{fill:gray;}
.visual ul li:nth-child(5) svg .cls-8{fill:#e6d8ba;}

.cr1{color:#95C04C;}

.visual{position:relative; width:100%; padding-top:7rem;}
.visual ul{width:69.375rem; height:69rem; margin:0 auto;}
.visual ul li{ text-align: center; width:19rem; height:19rem; border:1px solid; border-radius:18.75rem; float:left; margin:2rem; box-sizing: border-box; line-height:18;}
.visual ul li a svg{width:17rem; display:inline-block;}

main{width:100%; color:#16436A;}
main article{position:relative;  margin:0 auto; text-align: center; padding:5rem 0;}

main .title{width:60vw; height:15vh;}
main .title p:first-child{font-size:4rem;}
main .title h1{padding:3rem 0;}
main .title h1 img{width:52rem;}
main .title p:nth-child(3){font-size:2rem;}

main .mid1{width:60vw; height:100vh;}
main .mid1 .mid1Bg{width:60vw; height:100vh; background:url('../img/introbg1.svg') top no-repeat; background-size:contain;}
main .mid1 .top > div{position:absolute; display:inline-block; width:15rem; height:17rem;}
main .mid1 .top div p{font-size:2rem; color:#95C04C; padding:0 0 1rem 0;}
main .mid1 .top div p:last-child{font-size:2rem; color:#95C04C; padding:1rem 0 0  0;}
main .mid1 .top div svg{display:inline-block; width:15rem;}
main .mid1 .top div:first-child{top:19rem; left:50%; transform:translateX(-120%);}
main .mid1 .top div:first-child svg .cls-1{fill:none;}
main .mid1 .top div:nth-child(2){top:19rem; left:50%; transform:translateX(20%);}
main .mid1 .top div:nth-child(2) svg .cls-1{fill: none;}
main .mid1 .top div:nth-child(2) svg .cls-1,
main .mid1 .top div:nth-child(2) svg .cls-2{stroke: #95C04C;stroke-miterlimit: 10;}
main .mid1 .top div:nth-child(2) svg .cls-2 {fill: #95C04C;}
main .mid1 .top div:nth-child(3){bottom:12rem; left:50%; transform:translateX(-50%);}
main .mid1 .top div:nth-child(3) svg .cls-1,
main .mid1 .top div:nth-child(3) svg .cls-2{fill:none;}
main .mid1 .top div:nth-child(3) svg .cls-1,
main .mid1 .top div:nth-child(3) svg .cls-2,
main .mid1 .top div:nth-child(3) svg .cls-3{stroke:#95C04C;}
main .mid1 .top div:nth-child(3) svg .cls-1{stroke-linejoin:round;}
main .mid1 .top div:nth-child(3) svg .cls-2,
main .mid1 .top div:nth-child(3) svg .cls-3{stroke-miterlimit:10;}
main .mid1 .top div:nth-child(3) svg .cls-3{fill:#95C04C;}
main .mid1 .top div:nth-child(3) svg .cls-4{fill:#95C04C; font-size:42.69px; font-family:MalgunGothic-Semilight, Malgun Gothic;}

main .mid1Btm{height:8rem;}
main .mid1Btm p{font-size: 2rem ; line-height: 1.2;}

main .mid2{width:90vw; height:200vh;}
main .mid2 .mid2Bg{position:absolute; width:90vw; height:200vh; background:url(../img/introbg2.svg) no-repeat top; background-size:contain;}
main .mid2 section{position:absolute; width:100%; }
main .mid2 ul{position:absolute; width:11rem; top:45vh;}
main .mid2 section ul:first-child{left:50%; transform: translateX(-220%);}
main .mid2 section ul:nth-child(2){left:50%; transform: translateX(120%);}
main .mid2 section ul li{background:#fff; border:1px solid #16436A; padding:1rem; box-sizing: border-box;}
main .mid2 section ul:first-child li:nth-child(2){margin: 31vh 0 35vh;}
main .mid2 section ul:nth-child(2) li:nth-child(2){margin: 30vh 0 31vh;}
main .mid2 section ul li p{ padding:0.3rem 0;}

main .bottom{width:70vw; height:11vh;}
main .bottom section{display: inline-block;}
main .bottom section:nth-child(2){margin:0 12vw;}



footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background: #16436A;}
footer > div{display:inline-block;}
.fLogo {width:150px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: calc(100% - 300px); float:right; margin-top: -5rem;}
.fCont li{float:right; display:block;;
  font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont li span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont li a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}
