@charset "UTF-8";
.bodyBg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    overflow:hidden;
}
.mainVisual{
  width:100vw;
  height:160vh;
  position:absolute;
  top:0;
  left:0;
  background:url(../img/visualbackground.svg) no-repeat;
  margin:-20rem 0 0 0;
  background-size:cover;
  z-index:9;
}
.mainMountain{
  position:absolute;
  left:0;
  bottom:0;
  background:url(../img/mainmountain.svg) no-repeat;
  width:8000px;
  height:24rem;
  z-index:99;
}
.mainCamper{
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background:url(../img/maincamper.svg) no-repeat;
  width:40rem;
  height:25rem;
  z-index:999;
}
.opac {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
h1.logo {
    width: 5rem;
    position: absolute;
    left: 5%;
    top: 50px;
    z-index: 999999;
}
h1.logo a {
    width: 100%;
}
h1.logo img {
    width: 100%;
    object-fit: contain
}

/* 로그인 */
.loginWrap {
    width: 60%;
    height: 500px;
    background: #fff;
    border:1px solid #16436A;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    overflow: hidden;
}
.login {
    width: 60%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginCont {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
}
.loginCont>div {
    width: 100%;
    margin-bottom: 30px;
}
span.loginTit {
    font-size: 1em;
    padding-bottom: 10px;
    width: 100%;
    display: block
}
.loginCont input {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #16436A;
    border-radius: 5px;
    font-size: 1em;
}
.loginFoget {
    font-size :0.85em;
    color: #707070;
    text-align: right;
}
.loginFin {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #16436A;
    border-radius: 3em;
    font-size: 1.15em;
    padding: 10px 0;
    margin: 30px 0;
    background: #fff;
}
a.signUp {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    color: #101F3A;
    padding: 15px 0;
    display: block
}

.loginImg {
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
    padding:4rem 0 0 0;
}
.loginImg svg {
    width: 50%;
    object-fit: cover;
}
@media only screen and (min-width: 1554px) and (max-width: 1920px) {
  .mainVisual{
    height:130vh;
    width:100vw;
  }
  .mainCamper{
    width:30rem;
    height:20rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
  .visual{
    height:130vh;
    width:100vw;
  }
  .mainCamper{
    width:30rem;
    height:20rem;
  }
  .loginImg {
    width: 40%;
    height: 50%;
    padding: 7rem 0 0 0;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .mainCamper{
    width:30rem;
    height:20rem;
  }
  .login{
    width:55%;
  }
  .loginImg{
    width:45%;
    height:50%;
    padding:8rem 0 0 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .loginWrap{
    width:90%;
  }
  .loginImg{
    height:50%;
    padding:8rem 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  h1.logo {
    top: 10px;
  }
  .login{
    width:100%;
    height:60%;
  }
  .loginCont{
    width:80%;
  }
  .loginWrap{
    width:95%;
    height:710px;

  }
  .loginImg{
    display: block;
    width:100%;
    height:50%;
    padding:0 0 0 0;
  }
  .loginImg svg {
    width: 30%;
  }
}
@media only screen and (max-width: 479px) {
  .bodyBg {
      width: 100vw;
      height: 150vh;
    }
  .mainVisual{
    height:200vh;
    width:100vw;
  }
  .opac{
    height:150vh;
  }
  h1.logo {
    top: 10px;
  }
  .login{
    width:100%;
    height:60%;
  }
  .loginCont{
    width:80%;
  }
  .loginWrap{
    top:500px;
    width:95%;
    height:710px;
  }
  .loginImg{
    display: block;
    width:100%;
    height:50%;
    padding:0 0 0 0;
  }
  .loginImg svg {
    width: 30%;
  }
}
