@charset "utf-8";
body{
  background:rgba(0,0,0,0.5);
  width:100%;
}
.modal{
  position:fixed;
  width:1200px;
  max-width:100%;
  max-height:100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color:#16436a;
  text-align: center;
  overflow: auto;
}
.modal>div{
  width:100%;
  box-sizing: border-box;
}
@media only screen and (min-width: 1554px) and (max-width: 1920px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}

/*commmend header*/
.modalTop{
  padding:1rem;
}
.modalTop a{
  float:right;
}
.modalTop a svg{
  width:2rem;
}

/*sub header */
.modalTop h3{
  float:left;
  padding:0.5rem 0 0 0;
}
.modalTop h3 img,
.modalTop h3 svg{
  width:4rem;
}
.btmBr{
  border-bottom:1px solid #16436a;
}

/*commend title*/
.modalTit{
  padding:2rem 0;
}
.modalTit h1 img,
.modalTit h1 svg{
  width:8rem;
}
.modalTit p{
  font-size:1.5rem;
  padding:1rem 0 0 0;
}

@media only screen and (min-width: 1554px) and (max-width: 1920px) {
 }
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
 }
@media only screen and (min-width: 991px) and (max-width: 1199px) {
 }
@media only screen and (min-width: 768px) and (max-width: 990px) {
 }
@media only screen and (max-width: 767px) {
 }
@media only screen and (max-width: 479px) {
}

/* commend contents*/
.modalCon{
  padding:1rem;
}
.modalCon input{
  width:100%;
  height:2.2rem;
  border-radius: 10px;
  border:1px solid #16436a;
}

/*content of selecting icons at the main modal*/
.selectIcon{
  display:inline-block;
}
.selectIcon li{
  float:left;
  cursor:pointer;
}
.selectIcon li div{
  width:14rem;
  height:11rem;
  border:2px solid #16436a;
  box-sizing:border-box;
}
.selectIcon li div svg{
  width:13rem;
  height:10rem;
}
.selectIcon  li:hover div{
  background:#95c04c;
  border:0px;
}
.selectIcon li p{
  padding:2rem 0 0 0;
}

/* content of Q&A */
.modalCon .que,
.modalCon .que2{
  width:70%;
  margin:0 auto;
}
.modalCon .que h3,
.modalCon .que2 h3{
  padding:2rem 0;
}
.modalCon .que p{
  padding:0 0 3rem;
}
.modalCon .que2 input{
  width:75%;
}
.modalCon .que2 button{
  margin: 0 0 0 1.5rem;
}
.modalCon .detail{
  width:100%;
}
.modalCon .detail h3{
  width:70%;
  margin:5rem auto 3rem;
}
.modalCon .detail ul{
  width:60%;
  margin: 0 auto;
}
.modalCon .detail ul li{
  width:100%;
  margin:1.5rem 0;
}
.modalCon .detail ul li p {
  float:left;
  width:30%;
  margin: 0.5rem auto 0;
}
.modalCon .detail ul li input {
  float:right;
  width:60%;
  margin: 0 auto;
}

/* content of dragDrap */
.modalCon .dragDrap{
  padding:1rem;
  border-radius: 20px;
  background:#95c04c;
  box-sizing: border-box;
}
.modalCon .dragDrap .dragdrapBox{
  width:100%;
  border-radius: 20px;
  border:2px dashed #fff;
  padding:5rem 0;
}
.modalCon .dragDrap .dragdrapBox svg{
  width:30rem;
}
.modalCon .dragDrap .dragdrapBox h1{
  color:#fff;
}
.modalCon .dragDrap .dragdrapBox p{
  color:#fff;
}

/* content of textarea*/
.modalCon .textArea{
  width:80%;
  height:60%;
  padding:1rem;
  margin:3rem auto;
  background:#95c04c;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}
.modalCon .textArea .textareaBox{
  width:100%;
  height:86%;
  border-radius: 20px;
  border:1px dashed #fff;
  padding:0 0 5rem 0;
}
.modalCon .imgUpload {
  float: right;
  padding: 0 7rem 0 0;
}
.modalCon .imgUpload button{
  width:10rem;
}
.modalCon .imgUpload a:hover button{
  background:#ff4500;
  border:0px;
  color:#fff;
}

/* form in content of textarea*/
.modalCon .textArea textarea {
  border:2px solid #16436a;
}
.modalCon .textArea input[type=text],
.modalCon .textArea textarea {
  width:100%;
  height:86%;
  font-size:1rem;
  color:#373737;
  border:1px dased #FFF;
  background:#95c04c;
  text-indent:1rem;
  border-radius: 5px;
  transition: all 0.5s;
  vertical-align:middle;
}
.modalCon .textArea input::-webkit-input-placeholder{
  color:#b5b5b5;
  font-size:0.6rem;
  line-height:100%;
}
.modalCon .textArea textarea {
  height:86%;
  padding:0.25rem 0;
}
.modalCon .textArea textarea:focus,
.modalCon .textArea input:focus{
  background:rgba(149, 192, 76, 0.3);
  border: 1px solid #95c04c;
}
.modalCon .textArea input[type=text][readonly],
.modalCon .textArea input[type=text][disabled],
[disabled]{
  background:#eaeaea;
  border-color:#c0c0c0;
  color:#666;
  -webkit-appearance:none;
  font-size:12px;
}
.modalCon .textArea textarea[readonly],
.modalCon .textArea textarea[disabled]{
  padding:0.55rem;
  font-size:0.8rem;
  color:#666;
  font-weight:normal;
  line-height:140%;
  height:86%;
  background:#eaeaea;
  border:1px solid #c0c0c0;
}

/* content of facility icons */
.facil{
  width:100%;
  padding:5rem 0 2rem;
  text-align: center;
}
.facil ul{
  display:inline-block;
  padding:2rem 0 0;
}
.facil ul li{
  float:left;
  padding:1.5rem;
}
.facil ul li p{
  padding:1rem 0;
}
.facil ul li div{
  border:1px solid #16436a;
  cursor: pointer;
}
.facil ul li:hover div{
  background:#ff4500;
  border:0px;
}
.facil ul li:hover p{
  color:#ff4500;
}
.facil ul li div svg{
  width:5rem;
}

/* content for allcampertoken */
.tokenBox{
  width: 90% !important;
  margin: 0 auto;
  background: #fff;
  display: inline-block;
  text-align: center;
  border: 1px dashed #16436A;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  box-sizing: border-box;
}
.exchange{
  width:80%;
  margin: 0 auto;
}
.exchange>p{
  float:right;
  display: inline-block;
  padding:0.5rem;
  border:1px solid #16436A;
}
.exchange>div{
  margin:2rem 0;
}
.inputArea{
  display: inline-block;
  width:40%;
  position:relative;
  padding:5px 0;
  border-radius: 20px;
  border:1px solid #16436a;
  text-align: left;
  vertical-align:middle;
}
.inputAmout{
  display: inline-block;
  border:0px;
  line-height: 34px;
  font-size:28px;
  font-weight:600;
  color:#16436a;
}
.inputArea input[type=tel],
.inputArea input[type=text],
.inputArea input[type=password],
.inputArea textarea{
  width:70%;
  height: 2rem;
  font-size: 1rem;
  border:0px;
  border:0px;
  background-color:transparent;
  text-indent: 1rem;
  border-radius: 0px;
  transition: all 0.5s;
}
.inputArea p{
  display: inline-block;
  t
}
.exBtm{
  display: inline-block;
  margin: 0 2rem;
}
.btnDelete{
  display: inline-block;
  cursor:pointer;
  border:0;
  width:7%;
  height:2rem;
  background-color:transparent;
}
.btnDelete svg{
  width:1.5rem;
  height:1.5rem;
}


.prpgressBox{position:relative; width:100%; text-align:right;}
.progressBar{position:relative; display: inline-block; width:80%; height:2rem; padding:0.4rem 0 0 0.5rem; border:1px solid #16436A; border-radius: 20px; box-sizing: border-box;}
.progress{width:60%; height:1rem; background:#16436A; border-radius: 20px;}
.progressNum{position:relative; width:100%;}
.progressNum > div{position:absolute; display: inline-block; text-align:center;}
.progressNum > div > span{display: inline-block; width:1px; height:3rem; background:#16436A;}
.progressNum .zero{left:18%;}
.progressNum .current{left:62%;}


/* content for modal_user */
.modalCon .userImg{
  position:relative;
  width:13rem;
  height:13rem;
  margin:0 auto;
  border-radius: 10rem;
  overflow: hidden;
  cursor:pointer;
}
.modalCon .userImg img{
  position:absolute;
  top:0;
  left:0;
  z-index:9;
}
.modalCon .userImg p{
  position:absolute;
  top:50%;
  left:50%;
  color:#ff4500;
  transform:translate(-50%,-50%);
  z-index:9;
}
.modalCon .userImg .uerimgBg{
  position:absolute;
  top:-14rem;
  left:0;
  width:14rem;
  height:14rem;
  background:rgba(255, 255, 255, 0.6);
  cursor:pointer;
  z-index:99;
}
.modalCon .userImg:hover .uerimgBg{
  top:0rem;
}

/* bottom*/
.modalBtm{
  padding:10rem 0 0 0;
  position:relative;
}
.modalBtm .pageIndex{
  position:absolute;
  left:1rem;
  bottom:1rem;
}
.modalBtm .button{
  position:absolute;
  left: 50%;
  bottom:5rem;
  transform: translateX(-50%);
}
.modalBtm .button button{
  padding:0.6rem 4rem;
}
.modalBtm .button a:hover button{
  background:#95c04c;
  color:#fff;
  border:0px;
}
.modalBtm .button>div{
  display: inline-block;
}
.prev{
  padding:0 1rem 0 0;
}
.next{
  padding:0 0 0 1rem;
}

@media only screen and (min-width: 1554px) and (max-width: 1920px) {
 }
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
 }
@media only screen and (min-width: 991px) and (max-width: 1199px) {
 }
@media only screen and (min-width: 768px) and (max-width: 990px) {
 }
@media only screen and (max-width: 767px) {
 }
@media only screen and (max-width: 479px) {
}
