@charset "utf-8";

.selectIcon li:nth-child(2){
  padding:0 4rem;
}
.modal ul li:first-child div svg .cls-1 {fill: none; stroke: #16436A; stroke-linejoin: round;}
.modal ul li:nth-child(2) div svg .cls-1,
.modal ul li:nth-child(2) div svg .cls-2,
.modal ul li:nth-child(2) div svg .cls-3{fill: none; stroke-miterlimit: 10;}
.modal ul li:nth-child(2) div svg .cls-1{stroke: #16436A;}
.modal ul li:nth-child(2) div svg .cls-2 {stroke: #16436A;}
.modal ul li:nth-child(2) div svg .cls-3 {stroke: #16436A;}
.modal ul li:nth-child(2) div svg .cls-4 {fill: #16436A;}
.modal ul li:nth-child(3) div svg .cls-1 {fill: none; stroke: #16436A; stroke-miterlimit: 10;}
.modal ul li:first-child:hover div svg .cls-1{stroke: #fff;}
.modal ul li:nth-child(2):hover div svg .cls-1{stroke: #fff;}
.modal ul li:nth-child(2):hover div svg .cls-2 {stroke: #fff;}
.modal ul li:nth-child(2):hover div svg .cls-3 {stroke: #fff;}
.modal ul li:nth-child(2):hover div svg .cls-4 {fill: #fff;}
.modal ul li:nth-child(3):hover div svg .cls-1 {stroke:#fff;}
