@charset "utf-8";

.modalBg{position:relative; width:100vw; height:90vh; background:rgba(0,0,0,0.5); padding:4.5rem 0;}
.modal{position:relative; margin:0 auto; width:60vw; height:82vh; background:#fff; text-align: center; color:#16436a;}

.modalTop{width:100%; padding:0.5rem 2rem; box-sizing:border-box; border-bottom:1px solid #16436a; }
.modalTop h3{float:left; padding:0.3rem 0 0 0;}
.modalTop h3 img{width:4rem; }
.modalTop a {float:right;}
.modalTop a svg{width:2rem;}

.modal h1{padding:2rem 0 0;}
.modal h1 img{width:8rem;}
.modal input{height:2.2rem; border:1px solid #16436a; }

.que{width:70%; margin:2rem auto;}
.que h3 {padding:2rem 0;}

.modal .pageIndex{position:absolute; left:1rem; bottom:1rem;}
.modal .button{position:absolute; left: 50%; transform: translateX(-50%); bottom:4rem;}
.modal .button button{margin:0 2rem;}
.modal .button button:hover{background:#95c04c; color:#fff; border:0px;}
