@charset "utf-8";

.facil .fa1 li:first-child:hover div svg .cls-1,
.facil .fa1 li:first-child:hover div svg .cls-2 {stroke: #fff;}
.facil .fa1 li:first-child:hover div svg .cls-2 {fill: #ff4500;}
.facil .fa1 li:nth-child(2):hover div svg .cls-1,
.facil .fa1 li:nth-child(2):hover div svg .cls-2 {stroke: #fff;}
.facil .fa1 li:nth-child(3):hover div svg #refri {fill: #fff;}
.facil .fa1 li:nth-child(4):hover div svg path {fill: #fff;}
.facil .fa1 li:nth-child(5):hover div svg path{fill: #fff;}
.facil .fa1 li:nth-child(6):hover div svg .cls-1{stroke: #fff;}
.facil .fa1 li:nth-child(6):hover div svg rect,
.facil .fa1 li:nth-child(6):hover div svg path{fill: #fff;}
.facil .fa1 li:nth-child(7):hover div svg path{fill: #fff;}
.facil .fa2 li:first-child:hover div svg path{fill: #fff;}
.facil .fa2 li:nth-child(2):hover div svg path{fill: #fff;}
.facil .fa2 li:nth-child(3):hover div svg path{fill: #fff;}
.facil .fa2 li:nth-child(4):hover div svg path,
.facil .fa2 li:nth-child(4):hover div svg rect{fill: #fff;}
.facil .fa2 li:nth-child(5):hover div svg .cls-1,
.facil .fa2 li:nth-child(5):hover div svg .cls-2{stroke:#fff;}
.facil .fa2 li:nth-child(5):hover div svg .cls-2{fill:#ff4500;}
.facil .fa2 li:nth-child(6):hover div svg .cls-1{stroke:#fff;}
.facil .fa2 li:nth-child(6):hover div svg path{fill:#fff;}
.facil .fa2 li:nth-child(7):hover div svg path{fill:#fff;}
