@charset "utf-8";

.modalBg{position:relative; width:100vw; height:90vh; background:rgba(0,0,0,0.5); padding:2.5rem 0;}
.modal{position:relative; margin:0 auto; width:60vw; height:90vh; background:#fff; text-align: center; color:#16436a;}

.modal>a{position:absolute; top:0.5rem; right:1rem;}
.modal>a svg{width:2rem;}

.modal h1{padding:3rem 0 4rem;}
.modal h1 img{width:8rem;}
.modal input{height:2.2rem; border:1px solid #16436a; }

.modal .userImg{position:relative; width:13rem; height:13rem; margin:0 auto; border-radius: 10rem; overflow: hidden; cursor:pointer;}
.modal .userImg img{position:absolute; top:0; left:0; z-index:9;}
.modal .userImg p{position:absolute; top:50%; left:50%; color:#ff4500; transform:translate(-50%,-50%); z-index:9;}
.modal .userImg .uerimgBg{position:absolute; top:-14rem; left:0; width:14rem; height:14rem; background:rgba(255, 255, 255, 0.6); cursor:pointer; z-index:99;}
.modal .userImg:hover .uerimgBg{top:0rem;}

.modal ul{width:70%; margin: 0 auto; }
.modal ul li{ width:100%; margin:1.5rem 0; box-sizing: border-box;}
.modal ul li p {float:left; width:15%; margin: 0.5rem 0 0; padding:0 0 0 7rem;}
.modal ul li input {float:left; width:40%; margin: 0 1rem 0 0;}
.modal ul li button {float:left; width:26%;}

.modal .pageIndex{position:absolute; left:1rem; bottom:1rem;}
.modal .button{position:absolute; left: 50%; transform: translateX(-50%); bottom:3rem;}
.modal .button:hover button{background:#95c04c; color:#fff; border:0px;}
