@charset "utf-8";
body{background:#F7FBFE;}

header{position:relative; width:100%; z-index: 999999; box-sizing: border-box; }
header nav,
header ul{display:inline-block;}
header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li a
,header ul li a{color:#fff;}
header nav{position: absolute; top:4rem; left:50%; transform: translateX(-50%); line-height: 1;}
header nav ul li:nth-child(3){padding:0.5rem 0 0 0;}
header nav ul li:nth-child(3) img{width:6rem;}

header > ul{position:absolute; top:4rem; right:1rem; padding:;}
header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

#afterLogin .login{padding:0 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
#afterLogin .login img{width:4rem;}


.visual{position:relative; height:120vh; width:100vw; margin: 0 auto; overflow: hidden; background:url(../img/sharebg1.svg) no-repeat bottom; background-size: cover; z-index:9;}
.visual .star{height:120vh; width:100vw; background:url(../img/sharebg2.png) no-repeat bottom; background-size:cover; z-index:99;}
.visual .forest{position:absolute; bottom:0; left:0; width:100vw; z-index:999;}
.visual .shareCamper{position:absolute; bottom:-2%; right:-3%; width:38%; z-index:9999;}
.visual .shareGrass{position: absolute; bottom:0; left:0; width:100%; z-index:99999;}

.visual .star{animation: starRotate 40s infinite ;}
@keyframes starRotate{
    0%{
      opacity: 1;
      height:120vh; width:100vw;
    }
    100%{
      opacity: 0.2;
      width:150vw;
      height:150vh;
    }
}

#searching{position:absolute; top:25%; left:50%; transform:translateX(-50%); width:45vw; height:85vh; padding:2rem; z-index: 999999; background:rgba(255, 255, 255, 0.3); text-align: center; box-sizing: border-box;}
#searching h1{font-size:2.5rem; font-weight: 800; padding:2rem 0 0; line-height: 1.5; color:#fff;}
#searching .searchingBar{display: inline-block; margin: 3rem auto 5rem; border:1px solid #a9e1ba; padding:0.3rem; border-radius: 20px; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);}
#searching .searchingBar ul{background: #a9e1ba; padding: 3rem 2rem 1rem; border-radius: 20px; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);}
#searching .searchingBar ul li{float:left; display:inline-block;}
#searching .searchingBar ul li:first-child{padding:0 0.5rem 0 0;}
#searching .searchingBar ul li:first-child input{width:18rem; border: 1px solid #fff; height:2.3rem; border-radius:0.5rem;}
#searching .searchingBar ul li:nth-child(2) input{width:18rem; border: 1px solid #fff; height:2.3rem; border-radius:0.5rem;}
#searching .searchingBar ul li:nth-child(3){margin:0 1rem;}
#searching .searchingBar ul li:nth-child(3) button{width:5.5rem; height:2.5rem; border-radius:0.8rem; border: 1px solid #fff; background:none; color:#fff; font-size:1.2rem;}
#searching .searchingBar ul li:nth-child(3) button:hover{border: 1px solid #FF4500; background:none; color:#FF4500;}
#searching .searchingBar ul li:nth-child(4){margin-top: -1rem; margin-top:-2rem; text-align:center;}
#searching .searchingBar ul li:nth-child(4):hover svg .cls-1,
#searching .searchingBar ul li:nth-child(4):hover svg .cls-2,
#searching .searchingBar ul li:nth-child(4):hover svg .cls-3{stroke:#FF4500;}
#searching .searchingBar ul li:nth-child(4):hover svg .cls-3,
#searching .searchingBar ul li:nth-child(4):hover svg .cls-4{fill:#FF4500;}
#searching .searchingBar ul li:nth-child(4) p{padding-top:0.5rem; color:#16436A;}
#searching .searchingBar ul li:nth-child(4):hover p{color:#FF4500; font-weight: 700;}

#searching .searchingBar ul li:nth-child(4) svg{width:5rem;}
#searching .searchingBar ul li:nth-child(4) svg .cls-1,
#searching .searchingBar ul li:nth-child(4) svg .cls-2{fill:none;}
#searching .searchingBar ul li:nth-child(4) svg .cls-1,
#searching .searchingBar ul li:nth-child(4) svg .cls-2,
#searching .searchingBar ul li:nth-child(4) svg .cls-3{stroke:#16436A;}
#searching .searchingBar ul li:nth-child(4) svg .cls-1{stroke-linejoin:round;}
#searching .searchingBar ul li:nth-child(4) svg .cls-2{fill:none;}
#searching .searchingBar ul li:nth-child(4) svg .cls-2,
#searching .searchingBar ul li:nth-child(4) svg .cls-3{stroke-miterlimit:10;}
#searching .searchingBar ul li:nth-child(4) svg .cls-3{fill:#16436A;}
#searching .searchingBar ul li:nth-child(4) svg .cls-4{fill:#16436A; font-size:42.69px; font-family:MalgunGothic-Semilight, Malgun Gothic;}

#searching .explain{display: inline-block; border-radius: 20px; padding:0 0 1.5rem 0;}
#searching .explain ul{position:relative;}
#searching .explain ul li{float:left; width:8rem; padding:0 1rem;}
#searching .explain ul li div:first-child{position:absolute; width:2rem; height:2rem; background:#a9e1ba; border-radius: 30rem;}
#searching .explain ul li div:first-child p{padding:0.3rem 0 0 0; color:#16436a;}
#searching .explain ul li div:nth-child(2){width:8rem; height:8rem; border-radius: 30rem; background:#16436a; }
#searching .explain ul li div:nth-child(2) svg,
#searching .explain ul li div:nth-child(2) img{width:5rem; margin:50% auto 0; transform:translateY(-50%);}
#searching .explain ul li:nth-child(4) div:nth-child(2){padding:2.5rem 0 0 0; box-sizing: border-box;}
#searching .explain ul li:nth-child(4) div:nth-child(2) p{display: inline-block; padding:0.5rem 1rem; border-radius: 10px; border:1px solid #fff; }
#searching .explain ul li p{color:#fff; padding:1rem 0 0 0; line-height: 1.5;}

main{width:100%;position: relative;}
main header{position:relative; width:100%; padding:15rem 0 0; text-align: center;}
main header svg{width:15rem;}
main header svg .cls-1{fill: #F7FBFE;}
main header svg .cls-1,
main header svg .cls-2{stroke:#16436A; stroke-miterlimit:10;}
main header svg .cls-2{fill:none;}
main header h1{font-size:4.0625rem; font-weight:100; text-align: center;}
main header svg,
main header h1{display:inline-block; color:#16436A; font-weight:100; font-size:4.0625rem;}

main .fillter{position:absolute; top:37rem; left:5rem; padding:10rem 0 0 0; text-align: center;}
main .fillter > div{display:inline-block; text-align:center; cursor:pointer; margin: 0 0.5rem; width:110px; height:110px; border-radius: 300px; border:1px solid #16436A; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
main .fillter div a{width:100px; height:100px; margin:0.35rem 0 0 0; background:#16436A; border-radius:100px; display: inline-block; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);}
main .fillter div a img,
main .fillter div a svg{width:5rem; height:4rem; padding:0.4rem 0 0.1rem;}
main .fillter >div:hover{border:1px solid #95C04C;}
main .fillter >div:hover a{background:#95C04C;}
main .fillter div a p{color:#fff; font-size: 0.8rem;}

main section:nth-child(3){width:100%; padding:15rem 0; margin: 0 auto; width:76rem;}
main section:nth-child(3) article{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:28rem; margin:1.5rem 1rem;}
main section:nth-child(3) > article > div{width:23rem; display:inline-block; box-sizing:border-box; cursor:pointer;}
main section:nth-child(3) > article > div:first-child{height:14%;}
main section:nth-child(3) > article > div:nth-child(2){height:53%;}

.containerTop .location p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.containerTop>div{display:inline-block;}
.containerTop .campersIcon{float:left; margin-top:}
.containerTop .campersIcon img{width:5rem;}
.containerTop .location{float:right; line-height:3; }
.containerTop .location img{width:1rem;}

.containerImg{position:relative; width:100%;}
.containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}
.containerImg .likeOnimg{position:absolute; bottom:4%; left:0;width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .likeOnimg svg{width:1.5rem; float:right;}

.containerBtm{padding:0.2rem 0.625rem 1rem 0.625rem;}

.containerBtm div:nth-child(2) .facilities,
.containerBtm div:nth-child(2) .facilities img,
.containerBtm div:nth-child(2) h3,
.containerBtm div:nth-child(3) .reviewStar,
.containerBtm div:nth-child(3) p{display: inline-block;}

.containerBtm div:first-child p,
.containerBtm div:first-child h3{float:left;}
.containerBtm div:first-child h3{font-size:1.25rem; padding:0 0.4rem;}
.containerBtm div:first-child p{line-height: 180%;}

.containerBtm div:nth-child(2) {padding:0.625rem 0;}
.containerBtm div:nth-child(2) .facilities{float:left;}
.containerBtm div:nth-child(2) .facilities img{width:3.125rem;}
.containerBtm div:nth-child(2) h3{float:right;}
.containerBtm div:nth-child(2) h3 img{fill:#FF4E00;}

.containerBtm div:nth-child(3){}
.containerBtm div:nth-child(3) .reviewStar{float:left;}
.containerBtm div:nth-child(3) .reviewStar img{width:1.125rem;}
.containerBtm div:nth-child(3) p{float:right;}

main .pagination{width:100%; text-align: center; padding: 0 0 10rem;}
main .pagination ul{display: inline-block;}
main .pagination ul li{float:left; border:1px solid #16436A; padding:0.3rem 0.8rem; margin:0 0.2rem; cursor:pointer;}
main .pagination ul li:hover {background:#16436A;}
main .pagination ul li:hover a{color:#fff;}
main .pagination ul li:nth-child(4):hover{background:none;}
main .pagination ul li:nth-child(4):hover a{color:#16436A;}

main .pagination ul li a{font-family: 'NotoSansCJKkr-Light'; color:#16436A; font-size:1.5rem; font-weight: 100; }

footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background: #16436A;}
footer > div{display:inline-block;}
.fLogo {width:150px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: calc(100% - 300px); float:right; margin-top: -5rem;}
.fCont li{float:right; display:block;;
  font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont li span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont li a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}
