@charset "utf-8";
body{background:#F7FBFE;}

header{width:100%; position: fixed; top:0; left:0; padding:1rem 1.9rem;z-index: 999999; background:rgba(255,255,255,0.8); border-bottom:1px solid rgba(22,67,106,0.5); box-sizing: border-box;}
header>div{max-width: 1920px; margin: 0 auto;  line-height: 1;}
header a{color:#36393E;}
header a:hover{color:#FF4500;}

header div h1, header div nav, header div ul{display:inline-block;}
header div h1{float:left; width:7rem; padding: 0 0 0 1rem;}
header div > nav{float:left;}
header div > ul{float:right;}

header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li:hover .navDropdown
,header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

#afterLogin .login{padding:0.5rem 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
#afterLogin .login img{width:4rem;}

body .pageTitle{position:relative; width:100%; padding:12rem 0 0; text-align: center;}
.pageTitle h1{font-size:4.0625rem; font-weight:100; text-align: center; color:#16436A; padding:0 0 5rem;}
.pageTitle h1 img{width:12rem;}
.pageTitle div{display: inline-block; margin: 0 auto; border:1px solid #95C04C; padding:0.3rem; border-radius: 20px; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);}
.pageTitle ul{background: #95C04C; padding: 3rem 2rem 1rem; border-radius: 20px; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);}
.pageTitle ul li{float:left; display:inline-block;}
.pageTitle ul li:first-child input{width:35.5rem; border: 1px solid #fff; height:2.3rem; border-radius:0.5rem;}
.pageTitle ul li:nth-child(2){margin:0 1rem;}
.pageTitle ul li:nth-child(2) button{width:7.5rem; height:2.5rem; border-radius:0.5rem; border: 1px solid #fff; background:none; color:#fff; font-size:1.4rem;}
.pageTitle ul li:nth-child(2) button:hover{border: 2px solid #FF4500; font-weight: 700;background:none; color:#FF4500; font-size:1.4rem;}
.pageTitle ul li:nth-child(3){margin-top: -1rem;margin-top:-2rem; }
.pageTitle ul li:nth-child(3) svg{width:5rem; }
.pageTitle ul li:nth-child(3) p{padding-top:0.5rem; color:#fff;}
.pageTitle ul li:nth-child(3):hover p{color:#FF4500; font-weight: 700;}
.pageTitle ul li:nth-child(3):hover svg .cls-1,
.pageTitle ul li:nth-child(3):hover svg .cls-2,
.pageTitle ul li:nth-child(3):hover svg .cls-3{stroke:#FF4500;}

main{width:100%;}
main .fillter{position:relative; padding:10rem 0 0 0; text-align: center;}
main .fillter > div{display:inline-block; text-align:center; cursor:pointer; margin: 0 1rem; width:200px; height:200px; border-radius: 300px; border:1px solid #16436A; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);  }
main .fillter div a{width:180px; height:180px; margin:0.5rem 0 0 0; background:#16436A; border-radius:100px; display: inline-block; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
main .fillter div a img,
main .fillter div a svg{width:9.375rem; height:7.375rem; padding:1rem 0 0.2rem;}
main .fillter >div:hover{border:1px solid #95C04C;}
main .fillter >div:hover a{background:#95C04C;}
main .fillter div a p{color:#fff;}

main .fillterContainer>div{border:1px solid #16436A; background:#fff; border-radius:20px; width:38.375rem; margin:1.5rem; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
main .fillterContainer>div>div{width:23rem; display:inline-block; box-sizing:border-box;}

main .fillterContainer{width:100%; max-width:79.1rem;  margin: 0 auto; padding:10rem 0;}
main .fillterContainer>article{border:1px solid #16436A; background:#fff; border-radius:20px; width:38.375rem; height:59rem; margin:0 auto; margin-bottom: 10rem;}
main .fillterContainer>article>section{position:relative; width:100%; display:inline-block; box-sizing:border-box;}

.containerTop h3,
.containerTop p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{position: relative; padding: 1.2rem 1.2rem 0.8rem 1.2rem;}
.containerTop .user{float:left;}
.containerTop .user h3 img{width:3rem;}
.containerTop .user p{font-size:1.2rem;}
.containerTop .date{float:right; font-size:0.8rem; padding:1rem 0 0 0;}

.containerImg{position:relative; padding:0 1.2rem; height:24rem;}
.containerImg .slide{position:absolute; width:35.975rem; height:24rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:179.875rem; height:24.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position: relative; margin-top:30%; padding:0 0.625rem;}
.containerImg .slideBtn img{width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}

.containerBtm{position:relative; padding:1.2rem;}
.containerBtm div{display:block;}
.containerBtm>div>div{display:inline-block;}

.containerBtm>div:first-child{}
.containerBtm .campersIcon{float:left;}
.containerBtm .campersIcon img{width:9rem;}
.containerBtm .facilities{float:right; padding:1rem 0 0 0;}
.containerBtm .facilities img{width:2.5rem;}

.containerBtm>div:nth-child(2){width:90%; padding:1rem 0; margin:0 auto;  }
.containerBtm>div:nth-child(2) p{text-overflow: ellipsis; overflow:hidden; display: -webkit-box; -webkit-line-clamp: 7; /* 라인수 */-webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; }

.containerBtm>div:nth-child(3){padding:0 0 1rem 0;}
.containerBtm>div:nth-child(3) .location{padding:0.5rem 0 0 0;}
.containerBtm>div:nth-child(3) .location img,
.containerBtm>div:nth-child(3) .location p{display: inline-block;}
.containerBtm>div:nth-child(3) .location img{width:1rem;}
.containerBtm>div:nth-child(3) .location p{font-size:0.8rem;}
.containerBtm div:nth-child(3) ul{display: inline-block; float:right;}
.containerBtm div:nth-child(3) ul li{float:left; padding:0.3rem; }
.containerBtm div:nth-child(3) ul li:first-child p{padding:0.5rem 0 0; font-size:0.8rem;}

.containerBtm .br{width:99%; height:1px; margin:0 auto; background:#16436A;}

.containerBtm>div:nth-child(5){padding:1rem 0;}
.containerBtm>div:nth-child(5) ul{}
.containerBtm>div:nth-child(5) ul li{padding:0.2rem 0;}
.containerBtm>div:nth-child(5) ul li p{float:left; padding:0 1rem;}
.containerBtm>div:nth-child(5) ul li:last-child p{font-size: 0.8rem; color:#16436A;}

.containerBtm>div:nth-child(6){ padding:0.2rem 0;}
.containerBtm .comment{padding:1rem 0;}
.containerBtm .posting{width:100%; padding:1rem 0 0 ;}
.containerBtm .posting input{width:76%; margin-right:0.5rem; border: 1px solid #16436A; height:2.3rem; border-radius:0.5rem;}
.containerBtm .posting button:hover{background:#95c04c; color:#fff; border:0px;}

footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background:#16436A;}
footer > div{display:inline-block;}
.fLogo {width:110px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: 100rem; float:right; margin-top: -3.5rem;}
.fCont p{float:right; display:inline-block; font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont p span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont p a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}

/*-------------------------------- Respinsive Media Styles --------------------------------*/
@media only screen and (min-width: 1554px) and (max-width: 1920px) {
  .fLogo {width:100px;}
  .fCont{width: 80rem;}
}
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
  #afterLogin .login{width:11rem;}
  .fLogo {width:90px;}
  .fCont{width: 60rem;}
}
/* Medium Device: 1200px */
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  header>div{max-width: 100%;}
  header div h1{width:5rem; padding: 1rem 0 0 1rem;}

  .pageTitle h1{font-size:3rem;}
  .pageTitle h1 img{width:10rem;}
  .pageTitle ul li:first-child input{width:22rem;}
  .pageTitle ul li:nth-child(3) svg{width:4rem; }

  main{width:100%;}
  main .fillter{position:relative; padding:10rem 0 0 0; text-align: center;}
  main .fillter > div{margin: 0 0.4rem; width:180px; height:180px;}
  main .fillter div a{width:170px; height:170px; margin:0.3rem 0 0 0;}
  main .fillter div a img,
  main .fillter div a svg{width:8rem; height:7rem; padding:0.8rem 0 0.2rem;}
  main .fillter >div:hover{border:1px solid #95C04C;}
  main .fillter >div:hover a{background:#95C04C;}
  main .fillter div a p{color:#fff;}

  .fLogo {width:90px;}
  .fCont{width: 50rem;}
}
/* Tablet Device: 768px */
@media only screen and (min-width: 768px) and (max-width: 990px) {
  header>div{max-width: 100%;}
  header div h1{width:4rem; padding: 1rem 0 0 0;}
  header nav ul li, header ul li {width: 8rem;}

  #afterLogin {padding:0.2rem 5rem 0 0;}
  #afterLogin .login{padding:0.5rem 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
  #afterLogin .login img {width: 3rem;}

  .pageTitle h1{font-size:3rem;}
  .pageTitle h1 img{width:10rem;}
  .pageTitle ul {padding:2.4rem 2rem 0.8rem; border-radius:15px;}
  .pageTitle ul li:first-child input{width:20rem;}
  .pageTitle ul li:nth-child(3) svg{width:4rem; }
  .pageTitle ul li:nth-child(3) p {padding-top: 0.2rem;}

  main .fillter{position:relative; padding:8rem 0 0 0; text-align: center;}
  main .fillter > div{margin: 0 0.4rem; width:140px; height:140px;}
  main .fillter div a{width:130px; height:130px; margin:0.3rem 0 0 0;}
  main .fillter div a img,
  main .fillter div a svg{width:7rem; height:5rem; padding:0.8rem 0 0.2rem;}

  main .fillterContainer{padding: 8rem 0;}

  footer{padding:2rem;}
  .fLogo {width:90px;}
  .fCont{width: 36rem;}
  .fCont p span,
  .fCont p a {font-size: 0.5em; }
}
/* Large Mobile: 480px */
@media only screen and (max-width: 767px) {
  footer{padding:1rem;}
  .fLogo {width:90px;}
  .fCont{width: 20rem;}
  .fCont p span,
  .fCont p a {font-size: 0.5em; }
}
/* Small Mobile: 320px */
@media only screen and (max-width: 479px) {
  footer{padding:1rem;}
  .fLogo {width:75px;}
  .fCont{width: 14rem;}
  .fCont p {display: block;}
  .fCont p span,
  .fCont p a {font-size: 0.5em; }
}
