@charset "UTF-8";
.bodyBg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    overflow:hidden;
}
.mainVisual{
  width:100vw;
  height:160vh;
  position:absolute;
  top:0;
  left:0;
  background:url(../img/visualbackground.svg) no-repeat;
  margin:-20rem 0 0 0;
  background-size:cover;
  z-index:9;
}
.mainMountain{
  position:absolute;
  left:0;
  bottom:0;
  background:url(../img/mainmountain.svg) no-repeat;
  width:8000px;
  height:24rem;
  z-index:99;
}
.mainCamper{
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background:url(../img/maincamper.svg) no-repeat;
  width:40rem;
  height:25rem;
  z-index:999;
}
.opac {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
h1.logo {
    width: 5rem;
    position: absolute;
    left: 5%;
    top: 50px;
    z-index: 999999;
}
h1.logo a {
    width: 100%;
}
h1.logo img {
    width: 100%;
    object-fit: contain;
}
.signupWrap {
    width: 60%;
    height: 600px;
    background: #fff;
    border: 1px solid #16436A;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index:999999;
}
.signup {
    width: 100%;
    height: 100%;
}
fieldset {
    width: 100%;
    height: 100%;
    border: none;
    position: relative
}
fieldset:not(:first-of-type) {
	display: none;
}
.signupInfo {
    width: 60%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupCont {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.signupCont>div {
    width: 100%;
}
span.signupTit {
    font-size: 1em;
    padding-bottom: 5px;
    display: block;
}
.signupCont>div input[type="text"],
.signupCont>div input[type="password"]{
    width: 100%;
    font-size: 1em;
    color: #16436A;
    border: 1px solid #16436A;
    border-color:#16436A;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.signupAgree {
    width:100%;
    font-size: 0.85em;
    padding-bottom: 15px
}
.signupAgree span a {
    font-size: 0.95em;
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}
.signupNext {
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #16436A;
    border-radius: 3em;
    margin-bottom: 30px;
    background: #fff;
}
a.login {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    color: #101F3A;
    padding-top: 15px;
    display: block
}
.signupImg {
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
    padding:4rem 0 0 0;
}
.signupImg svg {
    width: 50%;
    object-fit: cover;
}
.name, .gender, .birth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.name span, .gender span, .birth span {
    width: 25%;
    padding-bottom: 0 !important;
}
.name input, .gender .genderBtnWrap, .birth input {
    width: 75% !important;
    margin-bottom: 0 !important;
}
.genderBtnWrap {
    border-radius: 5px;
    border: 1px solid #16436A;
    box-sizing: border-box;
}
.genderBtnWrap button{
    width: 50%;
    box-sizing: border-box;
    float: left;
    font-size: 1em;
    padding: 10px 0;
    text-align: center;
    border: none;
    background: #fff;
    border-radius: 5px
}
#female {
    border-right: 1px solid #16436A;
}
.phone {
    margin-bottom: 30px;
}
.phoneWrap, .certiWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phoneWrap>input, .certiWrap>input {
    width: 65% !important;
    margin-bottom: 0 !important;
}
.phoneWrap>button, .certiWrap>button {
    width: 30%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #16436A;
    font-size: 1em;
    background: #fff;
}
.signupFin {
    margin-top: 30px;
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #16436A;
    border-radius: 3em;
    background: #fff;
}
@media only screen and (min-width: 1554px) and (max-width: 1920px) {
  .mainVisual{
    height:150vh;
  }
  .signupImg {
      height: 50%;
      padding:8rem 2rem 0 0;
  }
  .signupInfo{
    width:55%;
  }
  fieldset{
    width:98%;
    height:98%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1554px) {
  .mainVisual{
    height:150vh;
  }
  .signupImg {
      height: 45%;
      padding:8rem 2rem 0 0;
  }
  .signupInfo{
    width:55%;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .mainVisual{
    height:150vh;
  }
  .signupWrap{
    width:80%;
  }
  .signupImg {
      height: 45%;
      padding:8rem 2rem 0 0;
  }
  .signupInfo{
    width:55%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .mainVisual{
    height:150vh;
  }
  .signupWrap{
    width:90%;
  }
  .signupImg {
      height: 45%;
      padding:10rem 2rem 0 0;
  }
  .signupImg h1{
    font-size: 1.8rem;
  }
  .signupInfo{
    width:55%;
  }
}
@media only screen and (max-width: 767px) {
  .mainVisual{
    height:150vh;
  }
  h1.logo {
    top:10px;
  }
  .signupWrap{
    width:95%;
    height:700px;
    top:150px;
    transform: translateX(-50%);
  }
  .signup{
    width:100%;
    height:60%;
    padding:2rem 0 0 0;
  }
  .signupImg {
    width:100%;
    height: 45%;
    padding:4rem 1rem 0 0;
  }
  .signupImg h1{
    font-size: 1rem;
  }
  .signupImg svg{
    width:20%;
  }
  .signupInfo{
    width:96%;
  }
}
@media only screen and (max-width: 479px) {
  .bodyBg {
      width: 100vw;
      height: 150vh;
    }
  .mainVisual{
    height:200vh;
    width:100vw;
  }
  .opac{
    height:150vh;
  }
  h1.logo {
    top:10px;
  }
  .signupWrap{
    width:95%;
    height:700px;
    top:150px;
    transform: translateX(-50%);
  }
  .signup{
    width:100%;
    height:60%;
    padding:3rem 0 0 0;
  }
  .signupImg {
    width:100%;
    height: 45%;
    padding:4rem 1rem 0 0;
  }
  .signupImg h1{
    font-size: 1rem;
  }
  .signupImg svg{
    width:20%;
  }
  .signupInfo{
    width:96%;
  }
}
