@charset "utf-8";

header{position:relative; width:100%; z-index: 999999; box-sizing: border-box; }
header nav,
header ul{display:inline-block;}
header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li a
,header ul li a{color:#fff;}
header nav{position: absolute; top:4rem; left:50%; transform: translateX(-50%); line-height: 1;}
header nav ul li:nth-child(3){padding:0.5rem 0 0 0;}
header nav ul li:nth-child(3) img{width:6rem;}

header > ul{position:absolute; top:4rem; right:1rem; padding:;}
header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

#afterLogin .login{padding:0 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
#afterLogin .login img{width:4rem;}
/*

.sideMenu{background:#1B5080; width:20vw; height:100vh; position:fixed; top:0; right:-20vw; z-index: 99999; box-sizing: border-box; text-align: center;}
.sideMenu{//애니메이션 효과
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
}
.sideMenu > div{position:relative; }
.sideMenu p{color:#fff;}
.sideMenu ul{display: inline-block;}
.sideTop{height:5vh; padding:1rem; margin-top: 5rem;}
.sideUser{height:35vh; }
.sideCamper{height:33vh;}
.sideBtm{position:relative; height:10vh;}

.sideTop h3,
.sideTop button{display: inline-block;}
.sideTop h3{float:left;}
.sideTop img{width:3rem; margin:-0.3rem 0 0 0;}
.sideTop button{width:8rem; float:right; background:#FF4500; color:#fff; border-radius:0px; height:2.6rem; font-size: 1rem;}
.sideTop button:hover{background:#fff; color:#FF4500;}

.sideUser h3,
.sideCamper h3{display: inline-block; border:1px solid #fff; border-radius: 100px; padding:0.5rem;}
.sideUser h3 img,
.sideCamper h3 img{width:10rem;}

.sideUser>p{padding:1rem;}
.sideUser ul li{float:left;}
.sideUser ul li:nth-child(2){padding:0 3rem;}
.sideUser ul li p{padding:0.5rem 0 0 0;}

.sideCamper ul{padding:1rem 1rem 0;}
.sideCamper ul li{float:left;}
.sideCamper ul li:nth-child(2){width:50%; float:right;}
.sideCamper ul li img{width:8rem;}
.sideCamper ul li p{padding:0.5rem 0 0 0;}

.sideBtm li{float:left; background:rgba(255, 255, 255, 0.3); padding:0.5rem 1rem; border-radius: 20px;}
.sideBtm li:nth-child(2){margin:0 1rem;}
.sideBtm li svg{width:3.5rem;}
.sideBtm li p{padding:0.5rem 0 0 0; font-size: 0.8rem;}

.sideBtm li:hover{background:rgba(255, 69, 0, 0.3);}
.sideBtm li:hover p{color:#FF4500;}
.sideBtm li:hover svg .cls-1,
.sideBtm li:hover svg .cls-2,
.sideBtm li:hover svg .cls-3 {stroke:#FF4500;}
.sideBtm li:hover svg .cls-5 {stroke:#FF4500; fill:#FF4500;} */

.mainVisual{animation: skyRotate 60s infinite;}
@keyframes skyRotate{
    0%{
      opacity:1;
      height:158vh; width:100vw;
    }
    100%{
      opacity: 0.2;
      width:200vw; height:250vh;
    }
}

#mainTitle{position:absolute; top:40%; left:50%; transform:translateX(-50%); width:45vw; height:55vh; padding:2rem; z-index: 999999; text-align: center; box-sizing: border-box;}
#mainTitle p{font-size:2.5rem; font-weight: 800; padding:2rem 0 0; line-height: 1.5; color:#fff;}
#mainTitle div{position:relative; display: inline-block;}
#mainTitle div p{position:absolute; top:-3rem; right:2rem;}
#mainTitle>p{padding:3rem 0;}
#mainTitle div img{width:40rem;}
#mainTitle button{border:1px solid #95C04C; color:#95C04C; width:16rem; height:4rem; border-radius:10rem;}
#mainTitle button:hover{background:#95C04C; color:#fff;}

main{position: relative; width: 100vw;}
main section{position:relative; width:100vw; text-align:center; box-sizing: border-box;}

main section:first-child,
main section:nth-child(4){background:#F7FBFE; padding:10rem 0;}
main section:first-child h1 svg,
main section:nth-child(4) h1 svg{width:10rem;}
main section:first-child>div:nth-child(2),
main section:nth-child(4)>div:nth-child(2){padding:5rem 0 0; color:#16436A;}
main section:first-child>div:nth-child(2) h1,
main section:nth-child(4)>div:nth-child(2) h1{font-size:3rem;}
main section:first-child>div:nth-child(2) p,
main section:nth-child(4)>div:nth-child(2) p{font-size:1.5rem; padding:2rem 0 0;}
main section:first-child .fillterContainer,
main section:nth-child(4) .fillterContainer{width:100%; margin:0 auto; max-width:79.1rem; padding:5rem 0;}
main section:first-child .fillterContainer>p,
main section:nth-child(4) .fillterContainer>p{text-align: left; padding:0 0 1rem 2rem ; color:#16436A;}
main section:first-child .fillterContainer>div,
main section:nth-child(4) .fillterContainer>div{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:28rem; margin:1.5rem;}
main section:first-child .fillterContainer>div>div,
main section:nth-child(4) .fillterContainer>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
main section:first-child .fillterContainer>div>div:first-child,
main section:nth-child(4) .fillterContainer>div>div:first-child{height:14%;}
main section:first-child .fillterContainer>div>div:nth-child(2),
main section:nth-child(4) .fillterContainer>div>div:nth-child(2){height:53%;}

main section:first-child h1 svg .cls-1,
main section:first-child h1 svg .cls-2{fill:none;}
main section:first-child h1 svg .cls-1,
main section:first-child h1 svg .cls-2,
main section:first-child h1 svg .cls-3{stroke:#16436A;}
main section:first-child h1 svg .cls-1{stroke-linejoin:round;}
main section:first-child h1 svg .cls-2{fill:none;}
main section:first-child h1 svg .cls-2,
main section:first-child h1 svg .cls-3{stroke-miterlimit:10;}
main section:first-child h1 svg .cls-3{fill:#16436A;}
main section:first-child h1 svg .cls-4{fill:#16436A; font-size:42.69px;font-family:MalgunGothic-Semilight, Malgun Gothic;}

main section:nth-child(4) h1 svg .cls-1,
main section:nth-child(4) h1 svg .cls-2,
main section:nth-child(4) h1 svg .cls-3,
main section:nth-child(4) h1 svg .cls-4{fill:none; stroke:#16436A;}
main section:nth-child(4) h1 svg .cls-1,
main section:nth-child(4) h1 svg .cls-2,
main section:nth-child(4) h1 svg .cls-3{stroke-linejoin:round;}
main section:nth-child(4) h1 svg .cls-2,
main section:nth-child(4) h1 svg .cls-3,
main section:nth-child(4) h1 svg .cls-4{stroke-width:2px;}
main section:nth-child(4) h1 svg .cls-3{stroke-dasharray:2.99 2.99;}
main section:nth-child(4) h1 svg .cls-4{stroke-miterlimit:10;}
main section:nth-child(4) h1 svg .cls-5{fill:#16436A;font-size:39.2px;font-family:MalgunGothic-Semilight, Malgun Gothic;}

.containerTop .location p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.containerTop>div{display:inline-block;}
.containerTop .campersIcon{float:left; margin-top:}
.containerTop .campersIcon img{width:5rem;}
.containerTop .location{float:right; line-height:3; }
.containerTop .location img{width:1rem;}

.containerImg{position:relative; width:100%;}
.containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}
.containerImg .likeOnimg{position:absolute; bottom:4%; right:1rem; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .likeOnimg svg{width:1.5rem; float:right;}

.containerBtm{padding:0.2rem 0.625rem 1rem 0.625rem;}

.containerBtm div:nth-child(2) .facilities,
.containerBtm div:nth-child(2) .facilities img,
.containerBtm div:nth-child(2) h3,
.containerBtm div:nth-child(3) .reviewStar,
.containerBtm div:nth-child(3) p{display: inline-block;}

.containerBtm div:first-child p,
.containerBtm div:first-child h3{float:left;}
.containerBtm div:first-child h3{font-size:1.25rem; padding:0 0.4rem;}
.containerBtm div:first-child p{line-height: 180%;}

.containerBtm div:nth-child(2) {padding:0.625rem 0;}
.containerBtm div:nth-child(2) .facilities{float:left;}
.containerBtm div:nth-child(2) .facilities img{width:2.5rem;}
.containerBtm div:nth-child(2) h3{float:right;}
.containerBtm div:nth-child(2) h3 img{fill:#FF4E00;}

.containerBtm div:nth-child(3){}
.containerBtm div:nth-child(3) .reviewStar{float:left;}
.containerBtm div:nth-child(3) .reviewStar img{width:1.125rem;}
.containerBtm div:nth-child(3) p{float:right;}

main section:first-child button,
main section:nth-child(4) button{width:20rem; height:4rem; border-radius:10rem; border:0px;  background:#95C04C; color:#fff;}
main section:first-child button:hover,
main section:nth-child(4) button:hover{border:1px solid #95C04C; color:#95C04C; background:none;}

main section:nth-child(2){background:url('../img/section2bg.svg') no-repeat bottom; background-size:cover; padding:5rem 0 12rem;}
main section:nth-child(2) h1{font-size: 3rem; color:#95C04C;}
main section:nth-child(2) ul{display: inline-block; padding:5rem 0;}
main section:nth-child(2) ul li{float:left;}
main section:nth-child(2) ul li:nth-child(2){padding:0 5rem;}
main section:nth-child(2) ul li h3{color:#fff;}
main section:nth-child(2) ul li svg{width:12rem; height:7rem; padding:2rem 0;}
main section:nth-child(2) ul li:last-child svg{width:8rem;}
main section:nth-child(2) ul li p{color:#fff;}
main section:nth-child(2) div:last-child{position:absolute; right:28%; margin-top: -2rem;}
main section:nth-child(2) div:last-child button{border:1px solid #95C04C; color:#95C04C; width:15rem; height:3.5rem; border-radius:10rem;}
main section:nth-child(2) div:last-child button:hover{background:#95C04C; color:#fff;}
.s768{display: inline-block;}

main section:nth-child(2) ul li:first-child svg .cls-1,
main section:nth-child(2) ul li:first-child svg .cls-2 {fill: none;}
main section:nth-child(2) ul li:first-child svg .cls-1,
main section:nth-child(2) ul li:first-child svg .cls-2,
main section:nth-child(2) ul li:first-child svg .cls-3 {stroke: #fff;}
main section:nth-child(2) ul li:first-child svg .cls-1 {stroke-linejoin: round;}
main section:nth-child(2) ul li:first-child svg .cls-2,
main section:nth-child(2) ul li:first-child svg .cls-3 {stroke-miterlimit: 10;}
main section:nth-child(2) ul li:first-child svg .cls-3 {fill: none;}
main section:nth-child(2) ul li:nth-child(2) svg .cls-1 {fill: none;}
main section:nth-child(2) ul li:nth-child(2) svg .cls-1,
main section:nth-child(2) ul li:nth-child(2) svg .cls-2 {stroke: #fff; stroke-miterlimit: 10;}
main section:nth-child(2) ul li:nth-child(2) svg .cls-2 {fill: #fff;}
main section:nth-child(2) ul li:nth-child(3) svg .cls-1 {fill: none; stroke: #fff; stroke-miterlimit: 10;}

main section:nth-child(3){padding:5rem 0; background:#16436A; color:#A9E1BA;}
main section:nth-child(3) h1{padding:0 0 5rem;}
main section:nth-child(3) ul{display: inline-block;}
main section:nth-child(3) ul li{ float:left; }
main section:nth-child(3) ul li:first-child,
main section:nth-child(3) ul li:nth-child(3){padding:7rem 0 0 0;}
main section:nth-child(3) ul li:nth-child(2){padding:0 16rem;}
main section:nth-child(3) ul li div p:first-child{padding:0 0 5rem 0;}
main section:nth-child(3) ul li div svg{width:7rem; padding:2rem 0;}
main section:nth-child(3) ul li:nth-child(2)>p{padding:3rem 0;}
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) p span{padding:0.7rem 1rem; border:1px solid #A9E1BA; border-radius: 10rem;}
main section:nth-child(3) ul li:nth-child(3) div img{width:10rem; padding:0 0 2rem 0;}

main section:nth-child(3) ul li:first-child div svg .cls-1,
main section:nth-child(3) ul li:first-child div svg .cls-2,
main section:nth-child(3) ul li:first-child div svg .cls-3{fill:none; stroke:#A9E1BA; stroke-linejoin:round;}
main section:nth-child(3) ul li:first-child div svg .cls-2,
main section:nth-child(3) ul li:first-child div svg .cls-3{stroke-linecap:round;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-1,
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-2{fill:none;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-1,
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-2,
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-3{stroke:#A9E1BA;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-1{stroke-linejoin:round;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-2,
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-3{stroke-miterlimit:10;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-3{fill:#A9E1BA;}
main section:nth-child(3) ul li:nth-child(2) div:first-child svg .cls-4{fill:#A9E1BA; font-size:42.69px; font-family:MalgunGothic-Semilight, Malgun Gothic;}
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-1{fill: none;}
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-1,
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-2,
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-3{stroke: #A9E1BA; stroke-miterlimit: 10;}
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-2,
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-3 {fill: none;}
main section:nth-child(3) ul li:nth-child(2) div:nth-child(3) svg .cls-2 {stroke-linecap: round;}

main section:nth-child(5){background:url('../img/section5bg.svg') no-repeat bottom; background-size:cover; padding:5rem 0 12rem;}
main section:nth-child(5) div{display: inline-block; text-align:left;}
main section:nth-child(5) div p{color:#fff; line-height: 1.8; font-size: 1.8rem;}
main section:nth-child(5) div p:nth-child(2){padding:3rem 0;}
main section:nth-child(5) div button{border:1px solid #95C04C; color:#95C04C; width:15rem; height:3.5rem; border-radius:10rem;}
main section:nth-child(5) div button:hover{background:#95C04C; color:#fff;}

footer{position:relative; width:100%; padding:3rem; box-sizing: border-box; background:#16436A;}
footer > div{display:inline-block;}
.fLogo {width:110px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: 100rem; float:right; margin-top: -3.5rem;}
.fCont p{float:right; display:inline-block; font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont p span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont p a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}
