@charset "utf-8";
body{background:#fff;}

header{ max-width: 1920px; position: fixed; height:5rem; padding:2.15rem 1.9rem; line-height: 1; z-index: 9999;}
header a{color:#333;}
header a:hover{color:#01189B;}

header h1, header nav, header ul{ display:inline-block; }
header h1{float:left; width:9.375rem;}
header >nav{float:left;}
header > ul{float:right;}

header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0;  float:left; text-align: center;}
header nav ul li:hover .navDropdown
,header ul li:hover .navDropdown{display: block;}

#beforeLogin{display:block;}
#afterLogin{display:none;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0;}
.navDropdown li{box-sizing:content-box; padding:1rem 0;}
.navDropdown li:hover{background:rgba(255,255,255,0.6);}
.navDropdown li:hover a{color:#01189B;}

.visual{position:relative; height:100vh; max-width:1920px; margin: 0 auto;overflow: hidden; max-width: 1920px;}
.visualBackground{position:absolute; top:0; left:0; background:url(../img/mainbackground.svg) no-repeat bottom; background-size:cover; width:7659px; height:100vh; z-index:9;}
.mainCamper{position:absolute; top:50%; left:0; background:url(../img/mainCamper.svg) no-repeat; width:8192px;  height:100%; z-index:9999;}

.visualBackground {
  /* Choose the animation */
  animation-name: movingBox;

  /* The animation’s duration */
  animation-duration: 40000ms;

  /* The number of times we want
      the animation to run */
  animation-iteration-count: infinite;

  /* Causes the animation to reverse
      on every odd iteration */
  animation-direction: alternate;
}

@keyframes movingBox {
  0% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(0,  0);
  }

  100% {
    transform: translate(-7659px, 0);
  }
}

.mainCamper {
  /* Choose the animation */
  animation-name: mainCamper;

  /* The animation’s duration */
  animation-duration: 30000ms;

  /* The number of times we want
      the animation to run */
  animation-iteration-count: infinite;

  /* Causes the animation to reverse
      on every odd iteration */
  animation-direction: alternate;
}

@keyframes maincamper {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(8192px, 0);
  }
}

main{background:#fff; font-size: 16px; ; }
main .fillter{position:relative; width:45.5rem; height:15rem; margin:0 auto; padding:5rem 0 0 0; }
main .fillter div{height:inherit; position:relative; display:inline-block; text-align: center; cursor:pointer;}
main .fillter div:nth-child(2){padding:0 7rem;}
main .fillter div a p{font-size:2rem;}
main .fillter > div:first-child a p,
main .fillter > div:nth-child(3) a p{padding-top:2rem;}

main .fillterContainer{width:100%; max-width:79.1rem;  margin: 5rem auto;}
main .fillterContainer>div{border:1px solid #01189B; border-radius:20px; display:inline-block; width:23rem; height:26.5rem; margin:1.5rem;}
main .fillterContainer>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
main .fillterContainer>div>div:first-child{height:14%;}
main .fillterContainer>div>div:nth-child(2){height:56%;}

.containerTop .location p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.containerTop>div{display:inline-block;}
.containerTop .campersIcon{float:left; margin-top:}
.containerTop .campersIcon img{width:5rem;}
.containerTop .location{float:right; line-height:3; }
.containerTop .location img{width:1rem;}

.containerImg{position:relative; width:100%;}
.containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}
.containerImg .likeOnimg{position:absolute; bottom:4%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .likeOnimg img{width:1.5rem; float:right;}

.containerBtm{padding:0.625rem 0.625rem 1rem 0.625rem;}
.containerBtm>div:first-child{margin-bottom:0.625rem;}
.containerBtm .facilities,
.containerBtm .facilities img,
.containerBtm h3,
.containerBtm .reviewStar,
.containerBtm p{display: inline-block;}
.containerBtm .facilities{float:left;}
.containerBtm .facilities img{width:3.125rem;}
.containerBtm h3{float:right;}
.containerBtm h3 img{fill:#FF4E00;}
.containerBtm .reviewStar{float:left;}
.containerBtm .reviewStar img{width:1.125rem;}
.containerBtm p{float:right;}

footer {
    width: 100%;
    background: #101F3A;
}
.footer_cont {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.f_logo {
    width: 180px;
}
.f_logo a {
    width: 100%;
}
.f_logo a img {
    width: 100%;
    object-fit: contain;
}
.aboutBtn {
    font-family: 'NotoSansCJKkr-Regular';
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius: 3em;
    font-size: 1em;
    box-sizing: border-box;
    margin-top: 30px;
    display: block;
    color: #fff;
    text-align: center;
    cursor: pointer
}
.f_cont {
    width: calc(100% - 300px);
}
.f_cont  li {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    font-family: 'NotoSansCJKkr-Light';
    font-size: 0.95em;
    color: #fff;
}
.f_cont li:nth-child(4) {
    margin-bottom: 0
}
.f_cont li span {
    font-family: 'NotoSansCJKkr-Light';
    font-size: 0.95em;
    color: #fff;
    padding: 0 5px;
}
.f_cont li a {
    font-family: 'NotoSansCJKkr-Light';
    font-size: 1em;
    color: #fff;
    cursor: pointer
}
