@charset "utf-8";
body{background:#fff;}

header{width:100%; max-width: 1920px; position: fixed; top:0; left:50%; transform: translateX(-50%); height:5rem; padding:1rem 1.9rem; line-height: 1; z-index: 999999;}
header a{color:#36393E;}
header a:hover{color:#FF4500;}

header h1, header nav, header ul{display:inline-block;}
header h1{float:left; width:7rem; padding: 0 0 0 1rem;}
header >nav{float:left;}
header > ul{float:right;}

header nav ul li
,header ul li {position:relative; width:10rem; padding:2rem 0 0 0; float:left; text-align: center;}
header nav ul li:hover .navDropdown
,header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0; z-index:999999;}
.navDropdown li{box-sizing:content-box; padding:1rem 0; }
.navDropdown li:hover{background:#FF4500;}
.navDropdown li:hover a{color:#fff;}

#beforeLogin{display:none;}
#afterLogin{display:block; padding:0 8.5rem 0 0;}
#afterLogin li ul li{width:8rem;}

.login{padding:0 0 0 0; width:8rem; position:fixed; z-index:999999; cursor:pointer;}
.login img{width:4rem;}

.sideMenu{background:; width:20vw; height:100vh; margin-top: 10rem; margin-left:20vw; border:1px solid #000; position:fixed; top:0; right:0; z-index: 99999;}
.sideTop{position:relative; height:10vh;}
.sideUser{position:relative; height:20vh;}
.sideCamper{position:relative; height:20vh;}
.sideBtm{position:relative; height:10vh;}

.sideTop h3,
.sideTop button{display: inline-block;}
.sideTop h3{float: left;}
.sideTop h3 img{width:3rem;}
.sideTop button{float:right;}

.visual{position:relative; height:110vh; width:100vw; max-width: 1920px; margin: 0 auto; overflow: hidden; }
.visualBackground{position:absolute; top:0; left:0; background:url(../img/mainbackground.svg) no-repeat bottom; background-size:cover; width:9555px; height:110vh; z-index:9;}
.mainCamper{position:absolute; top:50%; margin-left:-8192px; background:url(../img/mainCamper.svg) no-repeat; width:8192px;  height:100%; z-index:9999;}
.mainCloud{position:absolute; top:7%; right:0; margin-right:-8192px; background:url(../img/cloud.svg) no-repeat; width:8192px;  height:100%; z-index:9999;}
.cloudAfter{position:absolute; top:7%; right:0; margin-right:-8192px; background:url(../img/cloud.svg) no-repeat; width:8192px;  height:100%; z-index:9999;}

.visualBackground {
  animation-name: movingBox;
  animation-duration: 40000ms;
}
@keyframes movingBox {
  from {
    margin-left: -1920px;
  }

  to {
  margin-left: -7645px;
  }
}

.mainCloud {
  animation-name: cloud;
  animation-duration: 85000ms;
}

@keyframes cloud {

  from {
    margin-right: -8192px;
  }

  to {
  margin-right: 8192px;
  }

}
.cloudAfter {
  animation-name: cloudAfter;
  animation-duration: 90000ms;
  animation-delay: 75000ms;
}

@keyframes cloudAfter {
  from {
    margin-right: -8192px;
  }

  to {
  margin-right: 8192px;
  }

}
.mainCamper {
  /* Choose the animation */
  animation-name: maincamper;

  /* The animation’s duration */
  animation-duration: 40000ms;
}
@keyframes maincamper {
  0% {
    transform: translate(0, 0);
  }

  90% {
    transform: translate(9100px, 0);
  }

  100% {
    transform: translate(8350px, 0);
  }
}

main{/*background:rgba(169,225,186,0.4);*/ font-size:16px; }
main .fillter{position:relative; width:45.5rem; height:13rem; margin:0 auto; padding:10rem 0 0 0;}
main .fillter > div{display:inline-block; text-align:center; cursor:pointer; width:200px; height:200px; border-radius: 300px; border:1px solid #16436A; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);  }
main .fillter > div:nth-child(2){margin:0 3.5rem;}
main .fillter div a{width:180px; height:180px; margin:0.5rem 0 0 0; background:#16436A; border-radius:100px; display: inline-block; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
main .fillter >div:hover{border:1px solid #95C04C;}
main .fillter >div:hover a{background:#95C04C;}
main .fillter div a img{width:70%;}
main .fillter div:first-child a img,
main .fillter div:nth-child(3) a img{padding:0.7rem 0 0 0;}
main .fillter div:nth-child(2) a img{padding:0.3rem 0 0 0;}
main .fillter div a p{color:#fff;}

main .fillterContainer{width:100%; margin:0 auto; max-width:79.1rem; padding:10rem 0; }
main .fillterContainer>div{border:1px solid #16436A; background:#fff; border-radius:20px; display:inline-block; width:23rem; height:26.5rem; margin:1.5rem; box-shadow: 0px 3px 6px rgba(0, 0, 0, .16); }
main .fillterContainer>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
main .fillterContainer>div>div:first-child{height:14%;}
main .fillterContainer>div>div:nth-child(2){height:56%;}

.containerTop .location p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{padding:1rem 0.65rem 0.65rem 0.65rem;}
.containerTop>div{display:inline-block;}
.containerTop .campersIcon{float:left; margin-top:}
.containerTop .campersIcon img{width:5rem;}
.containerTop .location{float:right; line-height:3; }
.containerTop .location img{width:1rem;}

.containerImg{position:relative; width:100%;}
.containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}
.containerImg .likeOnimg{position:absolute; bottom:4%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .likeOnimg img{width:1.5rem; float:right;}

.containerBtm{padding:0.8rem 0.625rem 1rem 0.625rem;}
.containerBtm>div:first-child{margin-bottom:0.8rem;}
.containerBtm .facilities,
.containerBtm .facilities img,
.containerBtm h3,
.containerBtm .reviewStar,
.containerBtm p{display: inline-block;}
.containerBtm .facilities{float:left;}
.containerBtm .facilities img{width:3.125rem;}
.containerBtm h3{float:right;}
.containerBtm h3 img{fill:#FF4E00;}
.containerBtm .reviewStar{float:left;}
.containerBtm .reviewStar img{width:1.125rem;}
.containerBtm p{float:right;}

footer{position:relative; width:100%; padding:1.5rem 3rem; box-sizing: border-box; background: #16436A;}
footer > div{display:inline-block;}
.fLogo {width:150px; float:left;}
.fLogo a{width: 100%;}
.fLogo a img{width: 100%;}
.fCont{width: calc(100% - 300px); float:right; margin-top: -5rem;}
.fCont li{float:right; display:block;;
  font-family: 'NotoSansCJKkr-Light'; font-size: 0.95em; color: #fff; }
.fCont li span{font-family: 'NotoSansCJKkr-Light';font-size: 0.95em; color: #fff;padding: 0 5px;}
.fCont li a {font-family: 'NotoSansCJKkr-Light'; font-size: 1em; color: #fff; cursor: pointer;}
