@charset "utf-8";
body{background:#3abdff;}

body>div{position:relative; height:100vh; max-width:1920px; margin: 0 auto;}
body>div header{ height:5rem; padding:2.15rem 1.9rem; line-height: 1;}
body>div header a{color:#fff;}
body>div header a:hover{color:#01189B;}

body>div header h1, body>div header nav, body>div header ul{ display:inline-block; }

div header h1{float:left;}

div header >nav{float:left;}
div header > ul{float:right;}

header nav ul li
,div header ul li {position:relative; width:10rem; padding:2rem 0 0 0;  float:left; text-align: center;}
header nav ul li:hover .navDropdown
,div header ul li:hover .navDropdown{display: block;}

.navDropdown{display: none; line-height:1; margin:1.5rem 0 0 0;}
.navDropdown li{box-sizing:content-box; padding:1rem 0;}
.navDropdown li:hover{background:rgba(255,255,255,0.6);}
.navDropdown li:hover a{color:#01189B;}

.visual{position:relative; box-sizing: content-box; background:url(../img/background.svg) no-repeat bottom; background-size:contain;}
.vusual>img{position:absolute; width:inherit;}
.mainCamper{padding:17.8rem 0 0 30.55rem; z-index:99;}
.mainTree{padding:5.8rem 0 0 26rem; z-index:9;}

#beforeLogin{display:block;}
#afterLogin{display:none;}

main{background:#fff; font-size: 16px; font-family:'seoulNamsan'; }
main .fillter{position:relative; width:45.5rem; height:15rem; margin:0 auto; padding:5rem 0 0 0; }
main .fillter div{height:inherit; position:relative; display:inline-block; text-align: center;}
main .fillter div:nth-child(2){padding:0 7rem;}
main .fillter div a p{font-size:2rem;}
main .fillter > div:first-child a p,
main .fillter > div:nth-child(3) a p{padding-top:2rem;}

main .fillterContainer{width:100%; max-width:84rem;  margin: 5rem auto;}
main .fillterContainer>div{border:1px solid #01189B; border-radius:20px; display:inline-block; width:23rem; height:29rem; margin:1.5rem;}
main .fillterContainer>div>div{width:23rem; display:inline-block; box-sizing:border-box;}
main .fillterContainer>div>div:first-child{height:12%;}
main .fillterContainer>div>div:nth-child(2){height:48%;}
main .fillterContainer>div>div:nth-child(3){height:40%;}

.containerTop h3,
.containerTop p,
.containerImg .slideBtn img{width:100%; display:inline;}

.containerTop{padding:0.75rem 0.65rem;}
.containerTop h3 img{width:2rem;}

.containerImg{position:relative; width:100%;}
.containerImg .slide{position:absolute; width:21.7rem; height:14.75rem; padding:0 0.4rem; overflow:hidden;}
.containerImg .slide .slideBox{position:relative; width:110.5rem; height:14.75rem;}
.containerImg .slide .slideBox > img{width:initial; display:inline; float:left;}
.containerImg .slideBtn{position:absolute; top:42%; width:inherit; padding:0 1rem; box-sizing: border-box; z-index: 9999;}
.containerImg .slideBtn img{ width:1.625rem; cursor:pointer; }
.containerImg .slideBtn img:first-child{float:left;}
.containerImg .slideBtn img:nth-child(2){float:right;}

.containerBtm{width:100%;}
.containerBtm img{width: inherit;}
.containerBtm h3{font-size:1.875rem; padding-top:1rem; font-weight:bold; color:#000; text-align: center;}
.containerBtm > div{margin:0 auto; width:21.7rem; padding:1rem; box-sizing: border-box;}

.containerBtm div div,
.containerBtm div p{display:inline-block;}
.location,
.like{float:left;}
.date,
.icons{float:right;}
.icons a:nth-child(2){padding:0 0 0 0.5rem;}

.containerBtm .br{margin:0 auto; width:21rem; height:2px; background:#ff4e00;}
